<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDlLv9KXCY0NpRl1dD2SQhHGJbH0I8iA6M</string>
	<key>GCM_SENDER_ID</key>
	<string>217935880277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.niteowl.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>niteowl-1616</string>
	<key>STORAGE_BUCKET</key>
	<string>niteowl-1616.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:217935880277:ios:472bf6ea709db0d406b4dc</string>
</dict>
</plist>